
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
a:hover, input[type="submit"]:hover {cursor: pointer;}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px){
h1.pq, h1.pq+p {float: none!important; display: block!important;}
h1.pq+p>a>img {display: none;}
} 

.pq_wp_item {width: auto; display: inline-block;border: 1px solid #bfbfbf;padding: 0 0 15px;margin: 10px;}
.pq_wp_item:hover {border: 1px solid #f3224e;}
.pq_wp_item input {font-family: arial; color: #A1A1A1; background: transparent; border: 1px solid #f3224e; font-size: 12px; padding: 3px 20px; margin: 0px; border-radius: 3px; text-transform: uppercase;}
.pq_wp_item:hover input {color: white; background: #f3224e;}

.x30 div, .x30circle div, .x30rounded div {width: 32px; height: 33px; background-repeat: no-repeat; background-position: center top;}

.x30 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_4_30.png);}
.x30 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_4_30.png);}
.x30 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_4_30.png);}
.x30 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_4_30.png);}
.x30 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_4_30.png);}
.x30 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_4_30.png);}
.x30 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_4_30.png);}
.x30 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_4_30.png);}
.x30 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_4_30.png);}
.x30 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_4_30.png);}
.x30 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_4_30.png);}
.x30circle .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_4_30.png);}
.x30circle .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_4_30.png);}
.x30circle .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_4_30.png);}
.x30circle .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_4_30.png);}
.x30circle .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_4_30.png);}
.x30circle .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_4_30.png);}
.x30circle .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_4_30.png);}
.x30circle .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_4_30.png);}
.x30circle .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_4_30.png);}
.x30circle .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_4_30.png);}
.x30circle .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_4_30.png);}
.x30rounded .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_4_30.png);}
.x30rounded .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_4_30.png);}
.x30rounded .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_4_30.png);}
.x30rounded .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_4_30.png);}
.x30rounded .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_4_30.png);}
.x30rounded .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_4_30.png);}
.x30rounded .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_4_30.png);}
.x30rounded .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_4_30.png);}
.x30rounded .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_4_30.png);}
.x30rounded .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_4_30.png);}
.x30rounded .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_4_30.png);}

.x30.c1 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_1_30.png);}
.x30.c1 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_1_30.png);}
.x30.c1 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_1_30.png);}
.x30.c1 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_1_30.png);}
.x30.c1 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_1_30.png);}
.x30.c1 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_1_30.png);}
.x30.c1 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_1_30.png);}
.x30.c1 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_1_30.png);}
.x30.c1 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_1_30.png);}
.x30.c1 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_1_30.png);}
.x30.c1 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_1_30.png);}
.x30circle.c1 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_1_30.png);}
.x30circle.c1 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_1_30.png);}
.x30circle.c1 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_1_30.png);}
.x30circle.c1 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_1_30.png);}
.x30circle.c1 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_1_30.png);}
.x30circle.c1 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_1_30.png);}
.x30circle.c1 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_1_30.png);}
.x30circle.c1 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_1_30.png);}
.x30circle.c1 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_1_30.png);}
.x30circle.c1 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_1_30.png);}
.x30circle.c1 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_1_30.png);}
.x30rounded.c1 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_1_30.png);}
.x30rounded.c1 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_1_30.png);}
.x30rounded.c1 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_1_30.png);}
.x30rounded.c1 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_1_30.png);}
.x30rounded.c1 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_1_30.png);}
.x30rounded.c1 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_1_30.png);}
.x30rounded.c1 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_1_30.png);}
.x30rounded.c1 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_1_30.png);}
.x30rounded.c1 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_1_30.png);}
.x30rounded.c1 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_1_30.png);}
.x30rounded.c1 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_1_30.png);}

.x30.c2 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_2_30.png);}
.x30.c2 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_2_30.png);}
.x30.c2 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_2_30.png);}
.x30.c2 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_2_30.png);}
.x30.c2 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_2_30.png);}
.x30.c2 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_2_30.png);}
.x30.c2 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_2_30.png);}
.x30.c2 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_2_30.png);}
.x30.c2 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_2_30.png);}
.x30.c2 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_2_30.png);}
.x30.c2 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_2_30.png);}
.x30circle.c2 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_2_30.png);}
.x30circle.c2 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_2_30.png);}
.x30circle.c2 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_2_30.png);}
.x30circle.c2 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_2_30.png);}
.x30circle.c2 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_2_30.png);}
.x30circle.c2 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_2_30.png);}
.x30circle.c2 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_2_30.png);}
.x30circle.c2 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_2_30.png);}
.x30circle.c2 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_2_30.png);}
.x30circle.c2 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_2_30.png);}
.x30circle.c2 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_2_30.png);}
.x30rounded.c2 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_2_30.png);}
.x30rounded.c2 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_2_30.png);}
.x30rounded.c2 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_2_30.png);}
.x30rounded.c2 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_2_30.png);}
.x30rounded.c2 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_2_30.png);}
.x30rounded.c2 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_2_30.png);}
.x30rounded.c2 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_2_30.png);}
.x30rounded.c2 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_2_30.png);}
.x30rounded.c2 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_2_30.png);}
.x30rounded.c2 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_2_30.png);}
.x30rounded.c2 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_2_30.png);}

.x30.c3 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_3_30.png);}
.x30.c3 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_3_30.png);}
.x30.c3 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_3_30.png);}
.x30.c3 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_3_30.png);}
.x30.c3 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_3_30.png);}
.x30.c3 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_3_30.png);}
.x30.c3 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_3_30.png);}
.x30.c3 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_3_30.png);}
.x30.c3 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_3_30.png);}
.x30.c3 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_3_30.png);}
.x30.c3 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_3_30.png);}
.x30circle.c3 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_3_30.png);}
.x30circle.c3 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_3_30.png);}
.x30circle.c3 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_3_30.png);}
.x30circle.c3 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_3_30.png);}
.x30circle.c3 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_3_30.png);}
.x30circle.c3 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_3_30.png);}
.x30circle.c3 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_3_30.png);}
.x30circle.c3 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_3_30.png);}
.x30circle.c3 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_3_30.png);}
.x30circle.c3 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_3_30.png);}
.x30circle.c3 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_3_30.png);}
.x30rounded.c3 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_3_30.png);}
.x30rounded.c3 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_3_30.png);}
.x30rounded.c3 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_3_30.png);}
.x30rounded.c3 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_3_30.png);}
.x30rounded.c3 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_3_30.png);}
.x30rounded.c3 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_3_30.png);}
.x30rounded.c3 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_3_30.png);}
.x30rounded.c3 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_3_30.png);}
.x30rounded.c3 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_3_30.png);}
.x30rounded.c3 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_3_30.png);}
.x30rounded.c3 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_3_30.png);}

.x30.c5 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_5_30.png);}
.x30.c5 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_5_30.png);}
.x30.c5 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_5_30.png);}
.x30.c5 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_5_30.png);}
.x30.c5 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_5_30.png);}
.x30.c5 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_5_30.png);}
.x30.c5 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_5_30.png);}
.x30.c5 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_5_30.png);}
.x30.c5 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_5_30.png);}
.x30.c5 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_5_30.png);}
.x30.c5 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_5_30.png);}
.x30circle.c5 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_5_30.png);}
.x30circle.c5 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_5_30.png);}
.x30circle.c5 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_5_30.png);}
.x30circle.c5 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_5_30.png);}
.x30circle.c5 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_5_30.png);}
.x30circle.c5 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_5_30.png);}
.x30circle.c5 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_5_30.png);}
.x30circle.c5 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_5_30.png);}
.x30circle.c5 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_5_30.png);}
.x30circle.c5 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_5_30.png);}
.x30circle.c5 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_5_30.png);}
.x30rounded.c5 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_5_30.png);}
.x30rounded.c5 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_5_30.png);}
.x30rounded.c5 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_5_30.png);}
.x30rounded.c5 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_5_30.png);}
.x30rounded.c5 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_5_30.png);}
.x30rounded.c5 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_5_30.png);}
.x30rounded.c5 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_5_30.png);}
.x30rounded.c5 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_5_30.png);}
.x30rounded.c5 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_5_30.png);}
.x30rounded.c5 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_5_30.png);}
.x30rounded.c5 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_5_30.png);}

.x30.c6 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_6_30.png);}
.x30.c6 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_6_30.png);}
.x30.c6 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_6_30.png);}
.x30.c6 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_6_30.png);}
.x30.c6 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_6_30.png);}
.x30.c6 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_6_30.png);}
.x30.c6 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_6_30.png);}
.x30.c6 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_6_30.png);}
.x30.c6 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_6_30.png);}
.x30.c6 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_6_30.png);}
.x30.c6 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_6_30.png);}
.x30circle.c6 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_6_30.png);}
.x30circle.c6 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_6_30.png);}
.x30circle.c6 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_6_30.png);}
.x30circle.c6 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_6_30.png);}
.x30circle.c6 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_6_30.png);}
.x30circle.c6 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_6_30.png);}
.x30circle.c6 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_6_30.png);}
.x30circle.c6 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_6_30.png);}
.x30circle.c6 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_6_30.png);}
.x30circle.c6 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_6_30.png);}
.x30circle.c6 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_6_30.png);}
.x30rounded.c6 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_6_30.png);}
.x30rounded.c6 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_6_30.png);}
.x30rounded.c6 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_6_30.png);}
.x30rounded.c6 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_6_30.png);}
.x30rounded.c6 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_6_30.png);}
.x30rounded.c6 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_6_30.png);}
.x30rounded.c6 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_6_30.png);}
.x30rounded.c6 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_6_30.png);}
.x30rounded.c6 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_6_30.png);}
.x30rounded.c6 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_6_30.png);}
.x30rounded.c6 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_6_30.png);}

.x30.c7 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_7_30.png);}
.x30.c7 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_7_30.png);}
.x30.c7 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_7_30.png);}
.x30.c7 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_7_30.png);}
.x30.c7 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_7_30.png);}
.x30.c7 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_7_30.png);}
.x30.c7 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_7_30.png);}
.x30.c7 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_7_30.png);}
.x30.c7 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_7_30.png);}
.x30.c7 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_7_30.png);}
.x30.c7 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_7_30.png);}
.x30circle.c7 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_7_30.png);}
.x30circle.c7 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_7_30.png);}
.x30circle.c7 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_7_30.png);}
.x30circle.c7 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_7_30.png);}
.x30circle.c7 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_7_30.png);}
.x30circle.c7 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_7_30.png);}
.x30circle.c7 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_7_30.png);}
.x30circle.c7 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_7_30.png);}
.x30circle.c7 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_7_30.png);}
.x30circle.c7 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_7_30.png);}
.x30circle.c7 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_7_30.png);}
.x30rounded.c7 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_7_30.png);}
.x30rounded.c7 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_7_30.png);}
.x30rounded.c7 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_7_30.png);}
.x30rounded.c7 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_7_30.png);}
.x30rounded.c7 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_7_30.png);}
.x30rounded.c7 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_7_30.png);}
.x30rounded.c7 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_7_30.png);}
.x30rounded.c7 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_7_30.png);}
.x30rounded.c7 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_7_30.png);}
.x30rounded.c7 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_7_30.png);}
.x30rounded.c7 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_7_30.png);}

.x30.c8 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_s_8_30.png);}
.x30.c8 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_s_8_30.png);}
.x30.c8 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_s_8_30.png);}
.x30.c8 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_s_8_30.png);}
.x30.c8 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_s_8_30.png);}
.x30.c8 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_s_8_30.png);}
.x30.c8 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_s_8_30.png);}
.x30.c8 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_s_8_30.png);}
.x30.c8 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_s_8_30.png);}
.x30.c8 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_s_8_30.png);}
.x30.c8 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_s_8_30.png);}
.x30circle.c8 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_c_8_30.png);}
.x30circle.c8 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_c_8_30.png);}
.x30circle.c8 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_c_8_30.png);}
.x30circle.c8 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_c_8_30.png);}
.x30circle.c8 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_c_8_30.png);}
.x30circle.c8 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_c_8_30.png);}
.x30circle.c8 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_c_8_30.png);}
.x30circle.c8 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_c_8_30.png);}
.x30circle.c8 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_c_8_30.png);}
.x30circle.c8 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_c_8_30.png);}
.x30circle.c8 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_c_8_30.png);}
.x30rounded.c8 .pq_fb {background-image: url(http://lib.profitquery.com/api/img/icons/fb_r_8_30.png);}
.x30rounded.c8 .pq_vk {background-image: url(http://lib.profitquery.com/api/img/icons/vk_r_8_30.png);}
.x30rounded.c8 .pq_gp {background-image: url(http://lib.profitquery.com/api/img/icons/gp_r_8_30.png);}
.x30rounded.c8 .pq_tw {background-image: url(http://lib.profitquery.com/api/img/icons/tw_r_8_30.png);}
.x30rounded.c8 .pq_od {background-image: url(http://lib.profitquery.com/api/img/icons/od_r_8_30.png);}
.x30rounded.c8 .pq_mw {background-image: url(http://lib.profitquery.com/api/img/icons/mw_r_8_30.png);}
.x30rounded.c8 .pq_em {background-image: url(http://lib.profitquery.com/api/img/icons/em_r_8_30.png);}
.x30rounded.c8 .pq_pr {background-image: url(http://lib.profitquery.com/api/img/icons/pr_r_8_30.png);}
.x30rounded.c8 .pq_lj {background-image: url(http://lib.profitquery.com/api/img/icons/lj_r_8_30.png);}
.x30rounded.c8 .pq_pi {background-image: url(http://lib.profitquery.com/api/img/icons/pi_r_8_30.png);}
.x30rounded.c8 .pq_tu {background-image: url(http://lib.profitquery.com/api/img/icons/tu_r_8_30.png);}
